<div id="<%= dom_id sale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= sale.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= sale.total %>
  </p>

</div>
